
<style>

form .counter{
	
	font-size:13px;

	color:#ccc;
	}
form .warning{color:#600;}	
form .exceeded{color:#ff0000;}	

</style>

<% if user_signed_in? %>



  <div class="panel panel-default post-form-panel">
    <div class="panel-body row">
      
      <div class="col-sm-1">
        <% if current_user.userphoto? %>
            <%=link_to (image_tag current_user.userphoto.url(:small), :class => " kit-avatar kit-avatar-32 no-border rounded-img thumb35 centered"), user_path(current_user.id) %>
            <% else %> 
            <%=link_to (image_tag("noimage.jpg", :class => "kit-avatar kit-avatar-32 no-border rounded-img thumb35 centered")), user_path(current_user.id)%></a></li>

       <% end %> 
      </div>
      <div class="col-sm-11">
        <%= form_for(@newPost) do |f| %>
        
              <div class="field" style="margin-left: 10px;">

              <div class="col-sm-12">
                <%= f.text_area :content, autofocus: true, placeholder: "What's inspirational?...Post a text, image or both", class: "form-control has-success" %>
                </div>

                

                <span type="button" class="btn btn-submit" style="float: right; margin-top: 3px;"><%= f.submit "PreachOut", class: "btn btn-primary" %></span>

                <ul class="nav nav-pills">
                                <li>

                                
                &nbsp&nbsp&nbsp<%= f.file_field :postcover, class: "small pullupform"%>
                                  

                                </li>


                                <li> 

<%= f.collection_select :postcategory_id, Postcategory.all, :id, :name, {promt: "Choose a category" }, input_html: { class: "control-label" } %>
 </li>
                                
              </ul><!-- /.nav nav-pills -->

             

              
              </div>
          
        <% end %>
      </div>
    </div>
  </div>
<% end %>







<script type="text/javascript">
	$(document).ready(function(){	
		//default usage
		$("#message1").charCount();
		//custom usage
		$("#content").charCount({
			allowed: 240,		
			warning: 50,
			counterText: 'Characters left: '	
		});
	});
</script>

<script>


/*
 * 	Character Count Plugin - jQuery plugin
 * 	Dynamic character count for text areas and input fields
 *	written by Alen Grakalic	
 *	http://cssglobe.com/post/7161/jquery-plugin-simplest-twitterlike-dynamic-character-count-for-textareas
 *
 *	Copyright (c) 2009 Alen Grakalic (http://cssglobe.com)
 *	Dual licensed under the MIT (MIT-LICENSE.txt)
 *	and GPL (GPL-LICENSE.txt) licenses.
 *
 *	Built for jQuery library
 *	http://jquery.com
 *
 */
 
(function($) {

	$.fn.charCount = function(options){
	  
		// default configuration properties
		var defaults = {	
			allowed: 140,		
			warning: 25,
			css: '',
			counterElement: 'span',
			cssWarning: 'warning',
			cssExceeded: 'exceeded',
			counterText: ''
		}; 
			
		var options = $.extend(defaults, options); 
		
		function calculate(obj){
			var count = $(obj).val().length;
			var available = options.allowed - count;
			if(available <= options.warning && available >= 0){
				$(obj).next().addClass(options.cssWarning);
			} else {
				$(obj).next().removeClass(options.cssWarning);
			}
			if(available < 0){
				$(obj).next().addClass(options.cssExceeded);
			} else {
				$(obj).next().removeClass(options.cssExceeded);
			}
			$(obj).next().html(options.counterText + available);
		};
				
		this.each(function() {  			
			$(this).after('<'+ options.counterElement +' class="' + options.css + '">'+ options.counterText +'</'+ options.counterElement +'>');
			calculate(this);
			$(this).keyup(function(){calculate(this)});
			$(this).change(function(){calculate(this)});
		});
	  
	};

})(jQuery);

	


</script>
