<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,height=device-height,target-densitydpi=device-dpi,user-scalable=yes" />

  <title>Signin Page - PreachOut</title>


  <!-- favicon.ico and apple-touch-icon.png -->
  <link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="images/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="images/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="images/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="images/favicons/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="msapplication-TileImage" content="images/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  
  <!-- endbuild -->
</head>
<body>
  <!--[if lt IE 9]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <main class="signin-wrapper">
    <div class="tab-content">

      <%# link_to image_tag("preachout.png", :class => "thum35 centered", :alt => "PreachOut"), root_path %>

      <div class="tab-pane fade in active" id="signin">
        <form id="signinForm" action="index.html" role="form">
          <p class="lead">Create a new account</p>
          
          <div class="form-group">


          <div class="finline">

                                <%= f.text_field :firstname, :autofocus => true, :placeholder => 'First Name', :class => "form-control input-box " %>

                            </div>

                           

                            <div class="finline">

                                <%= f.text_field :lastname, :autofocus => true, :placeholder => 'Last Name', :class => "form-control input-box " %>

                            </div>


          <div class="input-group input-group-in">
              <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
              <%# f.label :email %>
              <%= f.text_field :displayname, :autofocus => true, :placeholder => 'Pick a username', :class => "form-control" %>


              </div>
            </div>


            <div class="input-group input-group-in">
              <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
              <%# f.label :email %>
              <%= f.email_field :email, :autofocus => true, :placeholder => 'Email', :class => "form-control" %>


              
            </div>
          </div><!-- /.form-group -->


          <div class="input-group" <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %></div>

          <div class="form-group">
            <div class="input-group input-group-in">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              
              <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password', :class => "form-control" %> 

            </div>
          </div>

          

            <div class="form-group">
            <div class="input-group input-group-in">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <%# f.label :email %>
              <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'Confirm password', :class => "form-control" %>
              
            </div>
          </div><!-- /.form-group -->



          
          <div class="form-group clearfix">
            <div class="animated-hue pull-right">

            <%= link_to "Sign In", new_user_session_path, :class => "btn btn-default" %>
              
              
            </div>
            
            <div class="btn"><%= f.submit "Create account", :class => "btn btn-primary" %>
          </div><!-- /.form-group -->

          <hr>

          
          <p class="text-center lead">OR Sign Up with</p>
          <div class="text-center signin-alt">
            <a href="#" class="btn btn-sm btn-success"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-sm btn-info"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-sm btn-danger"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="btn btn-sm btn-default"><i class="fa fa-github"></i></a>
          </div>

          <hr>

         <p>By creating an account you agree to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a></p>
        </form><!-- /#signinForm -->
      </div><!-- /.tab-pane -->

      
         
       
          
         
        </form><!-- /#signupForm -->

     
      </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->
  </main><!--/#wrapper-->
  <p class="signin-cr text-light">&copy; 2016 PreachOut.</p>


  <!-- Modal Recover -->
  <div class="modal fade" id="recoverAccount" tabindex="-1" role="dialog" aria-labelledby="recoverAccountLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form id="recoverForm" action="index.html">
          <div class="modal-header">
            <h4 class="modal-title" id="recoverAccountLabel">Reset Password</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <div class="input-group input-group-in">
                <span class="input-group-addon"><i class="fa fa-envelope-o text-muted"></i></span>
                <input type="email" name="recoverEmail" id="recoverEmail" class="form-control" placeholder="Enter your email address">
              </div>
            </div><!-- /.form-group -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send reset link</button>
          </div>
        </form><!-- /#recoverForm -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /#recoverAccount -->


  <!-- VENDORS : jQuery & Bootstrap -->
  <!-- build:js(.) scripts/vendor.js -->
  
  <!-- endbuild -->
  <!-- END PLUGIN SETUPS -->


  <!-- Google Analytics: change UA-48454066-1 to be your site's ID. -->
  
</body>
</html>






 

<% end %>




