<% if !user_signed_in? # if the user is not signed in, render this %>
    <!--style>
        body {
            background: linear-gradient( /* somewhat transparent film on top of the BG to make it look darker. */
                rgba(0,0,0, 0.7),
                rgba(0,0,0, 0.7)
                ), url("/bg.jpg") no-repeat center center fixed
            
            ; /* only display once, center horizontal and vertical, dont let scroll change position. */
            -webkit-background-size: cover;
            -moz-background-size: cover; /* cover the whole html element. */
            -o-background-size: cover;
            background-size: cover;
        }
        h1 {
            color: white;
            font-weight: bold;
        }
        .container-index {
            margin-right: 15%;
            margin-left: 15%;
        }
        .text {
            color: white;
            font-weight: 300;
            font-size: 150%;
        }
        .footer-links {
            text-align: center;
            color: white;
            margin-top: 30%;
            font-size: 75%;
        }
        .log-in {
            float: right;
            width: 300px;
            height: 150px;
            margin-top: 7.5%;
        }
        .sign-up {
            float: right;
            width: 300px;
            height: 250px;
        }
        .log-in-form {
            margin: 5px;
        }
    </style>
    
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>Welcome to Flutter.</h1>
            <p class="text">
                Connect with your buddies. Chat with new friends.<br>
                Share your adventures. Have fun! <br>
                Just like a blog, but with less characters!
            </p>
        </div>
        <div class="col-sm-6">
                   <div class="log-in panel">
                       Log In
                    </div> 
                    
                   <div class="sign-up panel">
                        Sign Up
                   </div> 
        </div>
        
        <div class="col-sm-12">
            <p class="footer-links">About  Help  Blog  Status  Jobs  Terms  Privacy  Cookies  Ads  info  Brand  Advertise  Businesses  Media  Developers  Directory © 2016 Flutter</p>
        </div>
        
    </div-->


    
    <!-- =========================
     PRE LOADER       
    ============================== -->
    <!--div class="preloader">
        <div class="status">
            &nbsp;
        </div>
    </div>

    <!-- =========================
     SECTION: HOME / HEADER  
    ============================== -->
    <header class="header" style="background: url(/assets/fbg-c05d7268637bcf0377f74a245311de5b00b0d2c5c86547cf32a558dfebdea6b7.jpg) no-repeat center top fixed;
" data-stellar-background-ratio="0.5" id="home">

    
        <!-- COLOR OVER IMAGE -->
        <div class="overlay-layer">

            <!-- STICKY NAVIGATION -->
            
            <!-- /END STICKY NAVIGATION -->

            <!-- CONTAINER -->
            <div class="container">

                <!-- ONLY LOGO ON HEADER 
                      <div class="only-logo">
                         <div class="navbar">
                                <div class="navbar-header">
                                   <img src="images/logo-2.png" alt="">
                                </div>
                         </div>
                      </div>
                      /END ONLY LOGO ON HEADER -->

                <div class="row">
                    <div class="col-md-7 text-left">

                        <!-- HEADING AND BUTTONS -->
                        <div class="intro-section">

                            <!-- WELCOM MESSAGE -->
                            <h1 class="intro white-text frontsize">How People Share The Inspiration.</h1>
                            
                            <p class="transparent-text">PreachOut.com is a cool and fun way of sharing Christian gospel. A community to find or share inspirational messages, music, videos, meet friends with a common faith...</p>

                            <p class="transparent-text">
                            Note this site is in <strong>beta</strong> phase, meaning it is a testing site, not complete. During this beta phase, we are working hard to polish everything - the content, the navigation, the layout, and more. We are listening to feedback closely, trying to improve the site as quickly as possible.
                                

                            </p>
                            
                            <!-- BUTTON -->
                            <div class="button hidden-xs">
                                <a href="#bottom" class="btn btn-primary secondary-button">Learn More</a>
                            </div>
                            <!-- /END BUTTON -->
                            
                        </div>

                    </div>

                    <div class="col-md-5 pull-right">
                        
                        <!-- VERTICAL REGISTRATION FORM -->
                        <div class="vertical-registration-form">
                            
                            <h4 class="whitee-text">Get started - it's free.</h4>

                            <%= form_for(:user, :url => registration_path(:user)) do |f| %>
                            
                            <form class="registration-form" id="contact-form">





                             <div class="finline">

                                <%= f.text_field :firstname, :autofocus => true, :placeholder => 'First Name', :class => "form-control input-box " %>

                            </div>

                           

                            <div class="finline">

                                <%= f.text_field :lastname, :autofocus => true, :placeholder => 'Last Name', :class => "form-control input-box " %>

                            </div>
                       



 



                                
                                <%= f.text_field :dispalyname, :autofocus => true, :placeholder => 'Pick a username', :class => "form-control input-box" %>

                                

                                

                                
                                <%= f.email_field :email, :autofocus => true, :placeholder => 'Your email address', :class => "form-control input-box " %>

                             

                               
                                
                                <%= f.password_field :password, :autocomplete => "off", :autofocus => true, :placeholder => 'Create a password(6 or more characters)', :class => "form-control input-box" %>
                                <%# f.check_box :remember_me, :autofocus => true, :class => "form-control input-box" %><%# f.label :remember_me %>
                                <%# f.password_field :password_confirmation, :autocomplete => "off", :autofocus => true, :placeholder => 'Confirm Password', :class => "form-control input-box" %>
                                <p class=" small Ttransparent-text">
                                By clicking Join now, you agree to PreachOut's User Agreement, Privacy Policy, and Cookie Policy.
                                </p>
                                
                                <%= f.submit "Join now", :class => "btn btn-primary" %>
                                &nbsp<span><%= link_to "Forgot your password?", new_password_path(:user) %></span>
                                
                            </form>

                            <% end %>

                            

  


                            
                            <!-- FORM SUBMIT SUCCESS / ERROR MESSAGES -->
                            <p class="email-success dark-text small-text"><span class="icon-check-alt2 colored-text"></span>Email sent seuccessfully</p>
                            <p class="email-error dark-text small-text"><span class="icon-close-alt2"></span>Error! Please check all fields filled correctly</p>
                            <!-- MAILCHIMP ALERTS 
                    <p class="mailchimp-success dark-text"><span class="icon-check-alt2 colored-text"></span>We sent the confirmation to your email</p>
                    <p class="mailchimp-error dark-text"><span class="icon-close-alt2"></span>Error! Please check all fields filled correctly</p>
                    -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <!-- =========================
     SECTION: CLIENTS LOGOs
    ============================== -->
    <!--div class="clients white-bg">
        <ul class="client-logos">
            <li>
                <img src="images/companies/1.png" alt="">
            </li>
            <li>
                <img src="images/companies/2.png" alt="">
            </li>
            <li>
                <img src="images/companies/3.png" alt="">
            </li>
            <li>
                <img src="images/companies/4.png" alt="">
            </li>
            <li>
                <img src="images/companies/5.png" alt="">
            </li>
            <li>
                <img src="images/companies/6.png" alt="">
            </li>
        </ul>
    </div-->

    <!-- =========================
     SECTION: SERVICES
    ============================== -->
    <section class="services" id="section1">
        <div class="container">


            <div class="col-sm-12">

            <h1><strong>Check out what’s trending on PreachOut</strong></h1
            <br />
              
              <div class="panel">
                <ul class="nav nav-tabs nav-justified" id="demo1-tabs">
                  <li class="active"><a href="#botabs1" data-toggle="tab">Latest Posts</a></li>
                  
                </ul>
                <div class="panel-body">
                  <div class="tab-content">
<div class="tab-pane fade in active" id="botabs1">
<p>
<!--Posts Start-->

 <% @posts.each do |post| %>
          <div class="col-lg-4 col-md-8 col-sm-6">
          <div class="panel border-grey po-slim">


 

<!--posts starts-->


   
 



          <div class="preach-img">
              <% if post.postcover? %>
        <%=link_to (image_tag post.postcover.url(:thumb), :class => "img-responsive centered box-hover preachedge-img"), post %>
       


          <% end %> 


              </div>


          

<div class="lead_small preach-content">

              

              

               <%= link_to (truncate(post.content, length: 100, omission: '... (continued)')), post if post.content %>


              </div>

              

              





        <div class="embed-extend-item">

         <%# image_tag("dummy/uifaces11.jpg", class: "kit-avatar kit-avatar-96 border-white pull-left") %>
         <%#link_to (image_tag song.user.profilephoto.url(:small), :class => "kit-avatar kit-avatar-96 border-white pull-left"), @user %>


          <!--Profilephoto-->
          <% if post.user.userphoto? %>
        <%= link_to (image_tag(post.user.userphoto.url(:large), :class => "kit-avatar kit-avatar-96 border-white pull-left thumb35")), user_path(post.user_id) %>


         

        <% else %> 
        <%= link_to (image_tag("noimage.jpg", :class => "kit-avatar kit-avatar-96 border-white pull-left thumb35")), user_path(post.user_id) %>


       <% end %> 

       <!--end of Profilephoto-->
                  



          <%if post.audiotitle %>

<%= link_to image_tag("play.png", :class => "prch-overlay"), post %>

<% end %>
              


<!--Get category name for each post-->
    
<div class="pull-left">





       <small class="media-heading gapleft"><i class="fa fa-upload "></i> 
       <%= " " %><%= link_to (post.user.firstname.split(" ").map(&:capitalize).join(" ")), user_path(post.user_id) if post.user.firstname %>

         <%= " " %><%= link_to (post.user.lastname.split(" ").map(&:capitalize).join(" ")), user_path(post.user_id) if post.user.lastname %>
        </small>



<br>







<strong class="text-muted pull-left closebtn-categories" style="color: #000000;"> <%= link_to post.postcategory.name, posts_path(postcategory: post.postcategory.name) if post.postcategory_id %> </strong>

<%# link_to Postcategory.find(post.postcategory_id).name, postcategory_path(post.postcategory_id) %>




</div>


<!--end-->







 
        




                  <%#post preach.title if preach.title %>
        
        





 
        




                  <%#post preach.title if preach.title %>
        
         </div><!-- /.kit-cover-headline -->

          <div class="panel-body">
          <div class="row">

                  <div class="col-sm-3 bordered-right">
                      <h5 class="text-center"><a href:"#">
                      <i class="fa fa-clock-o " style="color:#337ab7"></i>
                      <br></a><strong style="font-size: 11px"><%= post.created_at.strftime('%H:%M %-d-%-m-%Y') %></strong></h5>
                  </div><!-- /.cols -->


                    <div class="col-sm-3 bordered-right">
                       <h5 class="text-center"> <a href:"#">
                       <i class="fa fa-eye" style="color:#337ab7"></i></a>
                       <br><strong><%= post.impressionist_count(:filter=>:session_hash) %></strong></h5>
                    </div><!-- /.cols -->

                    <div class="col-xs-3 bordered-right">
                      <h5 class="text-center"> <a href:"#"> <%= link_to post do %><i class="fa fa-comment" style="color:#337ab7"></i><% end %></a>
                    <br><strong><%= post.postcomments.count %></strong></h5>

                    </div><!-- /.cols -->

                    <div class="col-xs-3">
                      <h5 class="text-center"> <a href:"#"> <%= link_to post do %><i class="fa fa-heart-o" style="color:#ff0000"></i><% end %></a>
                    <br><strong><%= post.likes.count %></strong></h5>

                    </div><!-- /.cols -->


                  

        </div><!-- /.row -->
                  
        </div><!-- /.panel-body-->

      

           
        
       
  














  

  
  


<%# console %>

 </div>

           
        </div><!-- panel -->
        <% end %>
         



</div>

 

<!--Posts End-->

                      </p>

    
    </div>



                  
   


<!--preaches starts-->



                  </div><!-- /tab-content -->

                  <h3 class= "centered fontsize"><a href="/posts"> See more ...</a></h3> 
                </div><!-- /panel-body -->





              </div><!-- /.panel -->


            </div><!-- /.cols -->

                
 
           
        </div>

        
    </section>







  <!-- =========================
     SECTION: SCREENSHOTS
    ============================== -->
    <section class="features" id="section7" data-stellar-background-ratio="0.5">
        <div class="overlay-layer-2">
            <div class="container">

                <!-- SECTION HEADER -->
                <div class="section-header">
                   
                    <h2 class="white-text"><span class="strong colored-text">There’s more to do on PreachOut </span></h2>
                    <div class="white-line">
                    </div>
                   
                </div>

                <div class="row">

                    <!-- LEFT SIDE ELEMENTS -->
                    <div class="col-md-3 text-right left-side wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">

                        <!-- SINGLE ELEMENT -->
                        <div class="single-feature border-right-colored">
                        <i class="fa fa-cogs fa-4x" style="color: #ffffff;" aria-hidden="true"></i>

                        
                            <h4 class="colored-text">Cross functional</h4>
                            <p class="transparent-text">
                                Easy to share your message by text, image or audio
                            </p>
                        </div>

                        <!-- SINGLE ELEMENT -->
                        <div class="single-feature border-right-colored">
                        <i class="fa fa-users fa-4x" style="color: #ffffff;" aria-hidden="true"></i>
                            <h4 class="colored-text">Get Connected</h4>
                            <p class="transparent-text">
                                Meet and connect to people with a common faith
                            </p>
                        </div>

                       

                    </div>

                    <!-- SCREENSHOTS -->
                    <div class="col-md-6">
                        <div id="screenshots" class="owl-carousel owl-theme">

                            <!-- SINGLE SCREENSHOT -->
                             

                       
                      
                      

                        <h4 class="lead white-text wow fadeInLeft frontsize" data-wow-duration="2s" data-wow-offset="40">Discover how a new piece of message can ignite your passion again.</h4>
                        <br />
                        <p></p>

                        <a href="#home" class="btn btn-success mb-1x mr-1x inpage-scroll wow fadeInRight bottomwidth" data-wow-duration="2s" data-wow-offset="40" type="button">Continue</a>
                        <br />
                        <p></p>

                        <a href="/users/sign_in" class="btn btn-primary inpage-scroll wow fadeInRight bottomwidth" data-wow-duration="2s" data-wow-offset="40" type="button">Sign In</a>


                            
                        </div>
                    </div>


                    <!-- RIGHT SIDE FEATURES -->
                    <div class="col-md-3 text-left right-side wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">

                        <!-- SINGLE ELEMENT -->
                        <div class="single-feature border-left-colored">
                        <i class="fa fa-commenting fa-4x" style="color: #ffffff;" aria-hidden="true"></i>
                            <h4 class="colored-text">Simply Interactive</h4>
                            <p class="transparent-text">
                                Add edit or delete own comments from existing posts. 
                            </p>
                        </div>

                        <!-- SINGLE ELEMENT -->
                         <!-- SINGLE ELEMENT -->
                        <div class="single-feature border-left-colored">
                        <i class="fa fa-volume-up fa-4x" style="color: #ffffff;" aria-hidden="true"></i>
                            <h4 class="colored-text">Music & Sermons</h4>
                            <p class="transparent-text">
                                An outstanding tools for sharing gospel music and sermon
                            </p>
                        </div>

                        
                    </div>

                </div>
            </div>
        </div>
    </section>



















    <!-- =========================
     SECTION: BRIEF LEFT
    ============================== -->
    
    <!-- =========================
     SECTION: SOME STATS   
    ============================== -->
    <!--section class="stats" id="section4" data-stellar-background-ratio="0.5">
        <div class="overlay-layer-2">
            <div class="container">
                <div class="row no-gutters">

                  
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-basic-elaboration-calendar-check"></span>
                        </div>
                        <h4 class="white-text">780+</h4>
                        <p class="uppercase transparent-text small-text">
                            Successfull campaigns
                        </p>
                    </div>

                 
                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats border-left-colored border-right-colored wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-basic-message-multiple"></span>
                        </div>
                        <h4 class="white-text">1250+</h4>
                        <p class="uppercase transparent-text small-text">
                            Social interaction
                        </p>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s">
                        <div class="icon-container">
                            <span class="colored-text icon-ecommerce-graph-increase"></span>
                        </div>
                        <h4 class="white-text">235%</h4>
                        <p class="uppercase transparent-text small-text">
                            Yearly Sales Growth
                        </p>
                    </div>
                </div>

               
                <div class="stats-footer">
                    <div class="long-transparent-line">
                    </div>
                    <p class="white-text">
                        We are ready to help you - <a href="#home" class="strong inpage-scroll">Get Started Now »</a>
                    </p>
                </div>

            </div>
        </div>
    </section-->

   

    <!-- =========================
     SECTION: CALL TO ACTION   
    ============================== -->
    


    <!-- REGISTRATION FORM FOR POPUP BOX -->
    

    <!-- =========================
     SECTION: CONTACT INFO  
    ============================== -->
    <div class="contact-info white-bg">
        <div class="container">

           
        </div>
    </div>

  



    <!-- =========================
     SCRIPTS   
    ============================== -->
   
    <script>
        /* PRE LOADER
        jQuery(window).load(function () {
            "use strict";
            jQuery(".status").fadeOut();
            jQuery(".preloader").delay(0).fadeOut("slow");
        }) */

        $("a[href='#bottom']").click(function() {
  $("html, body").animate({ scrollTop: $(document).height() }, "slow");
  return false;
});

    </script>
   


   

    <!-- CUSTOM JS  -->
   
















<% else # if the user IS signed in, render the following %>

    <script>document.location = "/posts"</script>

<% end %>







