<p id="notice"><%= notice %></p>

<h1>Listing Postcomments</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th>User</th>
      <th>—skip-stylesheets</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postcomments.each do |postcomment| %>
      <tr>
        <td><%= postcomment.post_id %></td>
        <td><%= postcomment.body %></td>
        <td><%= postcomment.user %></td>
        <td><%= postcomment.—skip-stylesheets %></td>
        <td><%= link_to 'Show', postcomment %></td>
        <td><%= link_to 'Edit', edit_postcomment_path(postcomment) %></td>
        <td><%= link_to 'Destroy', postcomment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postcomment', new_postcomment_path %>
