

<!--posts starts-->


   
 



          <div class="preach-img">
              <% if post.postcover? %>
        <%=link_to (image_tag post.postcover.url(:thumb), :class => "img-responsive centered box-hover preachedge-img"), post %>
       


          <% end %> 


              </div>


          

<div class="preach-content" style="color:#000000; ">

              <%= link_to (post.content), post %>

              </div>

              

              





        <div class="embed-extend-item">

         <%# image_tag("dummy/uifaces11.jpg", class: "kit-avatar kit-avatar-96 border-white pull-left") %>
         <%#link_to (image_tag song.user.profilephoto.url(:small), :class => "kit-avatar kit-avatar-96 border-white pull-left"), @user %>


          <!--Profilephoto-->
          <% if post.user.userphoto? %>
        <%= link_to (image_tag(post.user.userphoto.url(:large), :class => "kit-avatar kit-avatar-96 border-white pull-left thumb35")), user_path(post.user_id) %>


         

        <% else %> 
        <%= link_to (image_tag("noimage.jpg", :class => "kit-avatar kit-avatar-96 border-white pull-left thumb35")), user_path(post.user_id) %>


       <% end %> 

       <!--end of Profilephoto-->
                  




              






 
        




                  <%#post preach.title if preach.title %>
        
         </div><!-- /.kit-cover-headline -->

          <div class="panel-body">
          <div class="row">

                  <div class="col-sm-3 bordered-right">
                      <h5 class="text-center"><a href:"#">
                      <!--i class="fa fa-clock-o" style="color:#337ab7"></i-->
                      </a><strong style="font-size: 11px"><%= post.created_at.strftime('%H:%M %-d-%-m-%Y') %></strong></h5>
                  </div><!-- /.cols -->


                    <div class="col-sm-3 bordered-right">
                       <h5 class="text-center"> <a href:"#">
                       <i class="fa fa-eye" style="color:#337ab7"></i></a>
                       <br><strong><%= post.impressionist_count(:filter=>:session_hash) %></strong></h5>
                    </div><!-- /.cols -->

                    <div class="col-xs-3 bordered-right">
                      <h5 class="text-center"> <a href:"#"> <%= link_to post do %><i class="fa fa-comment" style="color:#337ab7"></i><% end %></a>
                    <br><strong><%= post.postcomments.count %></strong></h5>

                    </div><!-- /.cols -->

                    <div class="col-xs-3">
                    <h5 class="text-center">
                     
                      <p id#"post_<%= post.id %>_likes">

                      <%= render partial: "likes", locals: {post: post} %></p>
                      
                      </h5>

                      <%# render :partial => 'show', :locals => { :post => post } %>
                      <%# post.impressionist_count(:filter=>:session_hash) %>

                      <!--span class="has-tooltip" data-toggle="tooltip" title="<%= "Created on #{post.created_at.strftime("%m/%e/%Y at %w:%M %p")}, Last modified on #{post.updated_at.strftime("%m/%e/%Y at %w:%M %p")}" %>"-->
    <%# post.title if post.title %>
  </span>







                    

                    </div>
                  

        </div><!-- /.row -->
                  
        </div><!-- /.panel-body-->

      

           
        
       
  














  