<div class="container">

<div class ="centered">

   <div class="centered fieldfix">
        <%= render '/components/post_form' %><br><br>
        </div>

      

       <!--MIDDLE STARTS-->



<br />
<br />

<div class= "container">


     
        <%= link_to "All Posts", root_path %>
       <% Postcategory.all.each do |postcategory| %>
          <%=  link_to postcategory.name, posts_path(postcategory: postcategory.name) %>
     
  <% end %>

  </div>


<br />

     <!-- ============================================
          HEADER
          =============================================== -->
          

     
     <div class="clearfix"></div>

<!--posts starts-->
 <div class="fieldfix centered">
  
  <% if @posts.count == 0 %>
  <h3>There are no Posts in this category</h3>
<% else %>  

          <div id="rowp" class="transitions-enabled">
          <% @posts.each do |post| %>
          <div class="box preachedge">
          <div class="panel preachedge po-slim">



  <%= render partial: "posts/#{post.post_type}", locals: {post: post} %>

  
  


<%# console %>

 </div>

           
        </div><!-- panel -->
        <% end %>
         
         <% end %>
          </div>
        



</div>




   <%# link_to 'Load More Posts', posts_path(:page => @posts.next_page), :class => 'load-more-posts', :remote => true if @posts.next_page %>

<!--preaches ends-->   

</div>
</div>

<br />
<br />
 <%= will_paginate @posts %>

 <script>


 $('rowp').masonry({
  // options...
  isAnimated: !Modernizr.csstransitions
});
   

 </script>

 

