<!DOCTYPE html>
<html class="no-js">


  <title>Songs</title>

  <head>

 <style type="text/css">
div#mp3_player{ width:533px; height:0px; background:#000000; margin-top: 0px; vertical-align: middle; margin-top: -30px; z-index: 1; }
div#mp3_player > div > audio{  width:533px; background:#000000; vertical-align: middle; margin-left: 0px; margin-top: -355px; z-index: 1;}
div#mp3_player > canvas{width:78%; height:312px; position: relative; background:#000000; opacity: 0.5; position: relative; margin-top: -355px; left: 0px; margin-left: -180px; border-radius: 10px 10px 0px 0px;}
</style>




</head>











<div class="container">



<div class ="centered">

           

<br />     
<!--POST BODY-->
<div class="col-md-5">



<div class="paneloveride" style="height:100%;" >
      
      <!-- illustration of  img -->
      <div class="text-center" style="padding:0px;line-height:20px;font-size:14px;">







<% if @post.audiotitle || @post.artist %>

<div>      
      
      <span class="prch-mtitle"><strong><%= " " %><%= @post.audiotitle.split(" ").map(&:capitalize).join(" ")  if @post.audiotitle? %></strong></span>  




      &nbsp <span class="audiotitle"><%= " " %><%= @post.artist.split(" ").map(&:capitalize).join(" ")  if @post.artist? %></span>
    </div>
<% end %>




        <div class="preach-img pushnav2 zindez222">

        <% if @post.postcover? %>
        <%= image_tag(@post.postcover.url(:large), :class => "img-responsive centered box-hover preachedge-img") %>
          <% end %> 


         
 <!--div class="img-responsive">

           <div id="mp3_player">
           <div id="audio_box"></div>           
           <canvas id="analyser_render"></canvas>         
           </div>
          



        </div-->



        <div class="lead preach-content box-hover" style="color:#000000;">
             <%= @post.content %>
         </div>





  <div class="embed-extend-item">


         <% if @post.user.userphoto? %>

          <%#link_to (image_tag @post.user.profilephoto.url(:large), :class => "kit-avatar kit-avatar-96 border-white pull-left"), users_path(@user) %>
        <%= link_to (image_tag(@post.user.userphoto.url(:small), :class => "kit-avatar kit-avatar-96 border-white pull-left pullup-30 padding10")), user_path(@post.user_id) %>
        <% else %> 
        <%= link_to (image_tag("noimage-small.jpg", :class => "kit-avatar kit-avatar-96 border-white pull-left pullup-30 padding10")), user_path(@post.user_id) %>


  <% end %> 


    
<div class="pull-left">

    <small>

       <strong class="media-heading"><i class="fa fa-upload "></i> 
       <%= " " %><%= link_to (@post.user.firstname.split(" ").map(&:capitalize).join(" ")), user_path(@post.user_id) if @post.user.firstname %>

         <%= " " %><%= link_to (@post.user.lastname.split(" ").map(&:capitalize).join(" ")), user_path(@post.user_id) if @post.user.lastname %>
        </strong>

       </small>


<br>


<strong class="text-muted pull-left closebtn-categories prch-blue"> <%= link_to @post.postcategory.name, posts_path(postcategory: @post.postcategory.name) if @post.postcategory_id %> </strong>



</div>


<span class="pull-right"><div id="post_<%= @post.id %>_likes" style="font-size:24px; color: #ff0000; margin-top: -25px;">
       <%= render partial: "likes", locals: {post: @post} %>
</div>
</span>


</div>


       <!--end-->
</div>
</div>

<div class="panel" style="z-index: 999 important!">
    
    <!--small>

       <strong class="closeleft"><i class="fa fa-upload "></i> 
       <%# " " %><%# link_to (@post.user.firstname.split(" ").map(&:capitalize).join(" ")), user_path(@post.user_id) if @post.user.firstname %>

         <%# " " %><%# link_to (@post.user.lastname.split(" ").map(&:capitalize).join(" ")), user_path(@post.user_id) if @post.user.lastname %>
        </strong>

       </small-->


<!--NAME ENDS-->

   <div class="dropdown">
   <% if @post.user == current_user -%> 
    <button class="btn btn-xs btn-default btn-icon dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v rediconcolor"></i></button>
          <ul class="dropdown-menu dropdown-menu-right pullup-small">
           

<!-- POP-UP FOR EDITING AUDIO-->


<%if @post.audiotitle? %>

               <li class="btn preachicon1" title="Text" data-toggle="modal" data-target="#editaudio">Edit &nbsp&nbsp<i class="fa fa-pencil fa-2x"></i> </li>


  <% else %>



            <li>                            
               
                <%= link_to 'Edit this post', edit_post_path(@post), class: "btn btn-clean padding10" %>
                <% end %> 
            </li>

   <% end %>

   <!-- POP-UP DELETING AUDIO-->










            <li>
                  <% if @post.user == current_user -%>
                      <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "label-danger padding10" %>
                  <% end %> 
            </li>
            <!--li><a href="#">report copyright infringement</a></li>
            <li><a href="#">Report spam or abuse</a></li-->
          </ul>
  </div>
        &nbsp; &nbsp; 

        <small>

       <strong><i class="fa fa-eye fa-2x ">&nbsp </i><%= @post.impressionist_count(:filter=>:session_hash) %></strong>
       </small>  

       &nbsp; &nbsp; 

        <small>

       <strong><%= link_to 'Back', posts_path %></strong>
       </small>  
  
</div>




<div class="hide">
     <ul id="playlist">

<li sound="<%= @post.sound.url if @post.sound %>" postcover="<%= @post.postcover.url if @post.postcover %> "   artist="<%= @post.artist if @post.artist  %>" audiotitle="<%= truncate(@post.audiotitle, length: 14) if @post.audiotitle %>">      

    </li>

    </ul>

    </div>

















<!--Colapsible starts-->

  <div class="panel-group pullupleft" id="accordion1">
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">

                      <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                        <i class="fa fa-share-alt "></i> PreachOut </a>

                    </h3><!-- /panel-title -->
                  </div><!-- /panel-heading -->
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
    
                      <!-- Go to www.addthis.com/dashboard to customize your tools -->
                      <div class="addthis_sharing_toolbox"></div>
              
                    </div><!-- /panel-body -->
                  </div><!-- /panel-collapse -->
                </div><!-- /panel -->

                <!--div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">

<a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                        More
                      </a>
               
                    </h3>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div>Something</div>
                    </div>
                  </div>
                </div-->
              
              </div><!-- /panel-group -->
<!-- End of collapse-->
                    </div>
                    </div>

<!--COMMETS STARTS-->
                    <div class="col-md-7 innerscroll">
                    <div data-toggle="slimScroll" style="height:450px;" data-color="#48CFAD" data-rail-color="#48CFAD" data-allow-page-scroll="false" data-rail-visible="true">
                      <div class="clearfix">

                       <div class="paneloveride" data-fill-color="true">

                 
                      
                        <div class="pullup-small" data-fill-color="true">

                       <div><%= render 'postingcomments' %></div>
   
                      </div>
                    </div>

                    </div>
                    </div>
                 
</div>
</div>










<!-- EDIT PLAYER MODAL-->


<!-- MODAL POP-UP FOR EDITING AUDIO-->






<div class="modal fade zindez999" id="editaudio" tabindex="-1" role="dialog" aria-labelledby="modalBasicLabel" aria-hidden="true">
<div class="modal-dialog zindez999">
              

  <div class="modal-content">
                <div class="modal-header">
                 
                  <h4 class="lead" id="modalBasicLabel">Editing Audio</h4>
                </div>
                

          <div class="modal-body">

                 





     <%= render 'audio_edit' %>

<%= link_to 'Show', @post %> |
<%= link_to 'All posts', posts_path %>                
      




</div>










                  <p></p>
                

                </div>
                  <p></p>
                    <p></p>
                <div class="modal-footer">
                 
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  
                </div>
              </div><!-- /.modal-content -->
            


            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

<!--Audio modal-->


<!-- END OF EDIT PLAYER MODAL-->





<%if @post.audiotitle? %>


<footer class="footer-wrapper" role="contentinfo"> 

      <div class="footer">


       



        <div id="audio-player">
    <div id="audio-info">      
      
      <span class="artist"></span>
    </div>

<div id = "playercontainer centered">

<div class ="coverup">

   

        <div id="tracker">

      <div id="progressBar">
        <div id="progress"></div>
      </div>
     
     


<div id="buttons">
     <span>
      <button id="prev"></button>
      <button id="play"></button>
      <button id="pause"></button>
      <!--button id="stop"></button-->
      <button id="next"></button>
      <button id="speaker"></button>
      <button id="mute"></button>
      <button id="unloop"></button>
      <button id="loop"></button>
      </span>
<span id="duration"> </span>




       





        





</div> <!--playercontainer-->


<div class="playControls_preachbadge">

<div class="pull-left">
<div class="volume" style="position: relative; bottom: 0px; background-color: rgb(0, 0, 0); cursor: pointer; border-radius: 5px; height: 10px; border: 1px solid rgb(0, 0, 0); box-shadow: 0px 0px 5px rgb(255, 255, 255); width: 10px;">
<div class="volume-wrapper" style="border: 1px solid rgb(255, 255, 255); border-radius: 4px; height: 8px; width: 8px; position: absolute; bottom: 0px;"><div class="level" style="background:#fff; height: 100%; width: 8px;"></div></div></div>



           <div id="audio-image">
           <img class="cover" />

           






          </div>

       

           </div>


<div class="">

           <a class="playbackpreachbadge_context po-link-light" title="Playing track" href=""> Playing</a>
           <a class="audiotitle"></a>
             



           </div>

             <!-- analyzer -->
         
     



     </div>
        </div>
         </div>


       
      </div>


    <!-- /.buttons -->
    </footer><!-- /.FOOTER -->


    <% end %>

    </body>
</html>













    <!--script for player-->

    <script>

var audio;

// Establish all variables that your Analyser will use
var canvas, ctx, source, context, analyser, fbc_array, bars, bar_x, grd, hue, bar_width, bar_height, numBars;


//Hide Pause Initially
$('#pause').hide();
$('#mute').hide();
$('#unloop').hide();
$('#playing').hide();

  
//Initializer - Play First Audio
initAudio($('#playlist li:first-child'));
//initAudio($('#hov li:first-child'));
  
function initAudio(element){
  var sound = element.attr('sound');
    var audiotitle = element.attr('audiotitle');
    var postcover = element.attr('postcover');
    var artist = element.attr('artist');


  
    
    

    // Progress Bar Container
  //progressBar = document.getElementById('progressBar');
 // progress = document.getElementById('progress');



  // Buttons Container
 

  
  //Create a New Audio Object
  audio = new Audio(sound);
  audio.loop = true;
  //audio.autoplay = true;
  if(!audio.currentTime){
    $('#duration').html('0.00');
  }

  $('#audio-player .audiotitle').text(audiotitle);
    $('#audio-player .artist').text(artist);
  
  //Insert Cover Image
  $('img.cover').attr('src','' + postcover);
  
  $('#playlist li').removeClass('active');
  //$('#hov li').removeClass('active');
  
    element.addClass('active');


 


}

   

//Play Button



$('#play').click(function(){



  audio.play();

    $('#play').hide();
   



  
  $('#pause').show();
  $('#duration').fadeIn(400);
  showDuration();
});




//Pause Button
$('#pause').click(function(){
  audio.pause();
  $('#pause').hide();
  $('#play').show();


    // Visualize snippet
  context = new AudioContext(); // AudioContext object instance
  analyser = context.createAnalyser(); // AnalyserNode method
  canvas = document.getElementById('analyser_render');
  ctx = canvas.getContext('2d');
  // Re-route audio playback into the processing graph of the AudioContext
  source = context.createMediaElementSource(audio); 
  source.connect(analyser);
  analyser.connect(context.destination);
  frameLooper();
  // Visualize snippet ends


});
  


  //volume


  
  //end
//Stop Button
//$('#stop').click(function(){
  //audio.pause();    
  //audio.currentTime = 0;
  //$('#pause').hide();
  //$('#play').show();
  
  //showDuration();
//});

//Play speaker
$('#speaker').click(function(){
  audio.muted = true;
  $('#speaker').hide();
  $('#mute').show();
  $('#duration').fadeIn(400);
  showDuration();
});

//Pause BMute
$('#mute').click(function(){
  
  audio.muted= false;
  $('#speaker').show();
  $('#mute').hide();
});

//Next Button
$('#next').click('ended',function(){
    audio.pause();

  $('#loop').show();
  $('#unloop').hide();
  $('#pause').show();
  $('#play').show();

    var next = $('#playlist li.active').next();
    if (next.length == 0) {
        next = $('#playlist li:first-child');
    }
    initAudio(next);
  audio.play();
  showDuration();

  // Visualize snippet
  context = new AudioContext(); // AudioContext object instance
  analyser = context.createAnalyser(); // AnalyserNode method
  canvas = document.getElementById('analyser_render');
  ctx = canvas.getContext('2d');
  // Re-route audio playback into the processing graph of the AudioContext
  source = context.createMediaElementSource(audio); 
  source.connect(analyser);
  analyser.connect(context.destination);
  frameLooper();
  // Visualize snippet ends
});

//Play unloop
$('#loop').click(function(){
  audio.loop = false;
  audio.load();
  
  $('#play').show();
  $('#loop').hide();
  $('#unloop').show();
  $('#pause').hide();
  $('#duration').fadeIn(400);
  showDuration();
});
//loop
$('#unloop').click(function(){
  audio.loop = true;
  audio.load();
  $('#loop').show();
  $('#unloop').hide();
  $('#play').show();
   $('#pause').hid();
  
});





//Prev Button
$('#prev').click(function(){
    audio.pause();
   
  $('#loop').show();
  $('#unloop').hide();
   
    var prev = $('#playlist li.active').prev();
    if (prev.length == 0) {
        prev = $('#playlist li:last-child');
    }
    initAudio(prev);
  audio.play();
  showDuration();

  // Visualize snippet
  context = new AudioContext(); // AudioContext object instance
  analyser = context.createAnalyser(); // AnalyserNode method
  canvas = document.getElementById('analyser_render');
  ctx = canvas.getContext('2d');
  // Re-route audio playback into the processing graph of the AudioContext
  source = context.createMediaElementSource(audio); 
  source.connect(analyser);
  analyser.connect(context.destination);
  frameLooper();
  // Visualize snippet ends

});

//Playlist Audio Click
$('#playlist li').click(function () {
    audio.pause();


  $('#loop').show();
  $('#unloop').hide();
   
    initAudio($(this));
  $('#play').hide();
  $('#pause').show();
  $('#duration').fadeIn(400);
  audio.play();
  showDuration();
});

//CoverPlay Audio Click



//Volume Control
$('#volume').change(function(){

  audio.volume = parseFloat(this.value / 100);
});


 
  

//Time Duration
function showDuration(){
  $(audio).bind('timeupdate', function(){
    //Get hours and minutes
    var s = parseInt(audio.currentTime % 60);
    var m = parseInt((audio.currentTime / 60) % 60);
    //Add 0 if seconds less than 10
    if (s < 10) {
      s = '0' + s;
    }
    $('#duration').html(m + '.' + s); 
    var value = 0;
    if (audio.currentTime > 0) {
      value = Math.floor((100 / audio.duration) * audio.currentTime);
    }
    $('#progress').css('width',value+'%');
  });


}



</script> 

<!-- ANALYZER-->
<script>
// Create a new instance of an audio object and adjust some of its properties


var SMOOTHING = 0.8;
var FFT_SIZE = 2048;

//

    //

window.addEventListener("load", initMp3Player, true);
function initMp3Player(){
  document.getElementById('audio_box').appendChild(audio);
  context = new AudioContext(); // AudioContext object instance
  analyser = context.createAnalyser(); // AnalyserNode method
  canvas = document.getElementById('analyser_render');
  ctx = canvas.getContext('2d');
 
  // Re-route audio playback into the processing graph of the AudioContext
  source = context.createMediaElementSource(audio); 
  source.connect(analyser);
  analyser.connect(context.destination);
  frameLooper();
}


// frameLooper() animates any style of graphics you wish to the audio frequency
// Looping at the default frame rate that the browser provides(approx. 60 FPS)
function frameLooper(){
  window.requestAnimationFrame(frameLooper);
  fbc_array = new Uint8Array(analyser.frequencyBinCount);
  analyser.getByteFrequencyData(fbc_array);
  ctx.clearRect(0, 0, canvas.width, canvas.height); // Clear the canvas
 

//ctx.fillStyle = 'gradient';

  ctx.lineCap = 'round';
  bars = 840;
  for (var i = 0; i < bars; i++) {
    bar_x = i * 3;
    bar_width = 0.4;
    bar_height = -(fbc_array[i] / 2);

    
     
     
    //  fillRect( x, y, width, height ) // Explanation of the parameters below
    ctx.fillRect(bar_x, canvas.height, bar_width, bar_height);
    
    ctx.fillStyle = "#ffffff";
    ctx.fillS = grd;
  }
}

draw();



VisualizerSample.prototype.draw = function() {
  this.analyser.smoothingTimeConstant = SMOOTHING;
  this.analyser.fftSize = FFT_SIZE;

  // Get the frequency data from the currently playing music
  this.analyser.getByteFrequencyData(this.freqs);
  this.analyser.getByteTimeDomainData(this.times);

  var width = Math.floor(1/this.freqs.length, 10);

  var canvas = document.querySelector('canvas');
  var drawContext = canvas.getContext('2d');
  canvas.width = WIDTH;
  canvas.height = HEIGHT;
  // Draw the frequency domain chart.
  for (var i = 0; i < this.analyser.frequencyBinCount; i++) {
    var value = this.freqs[i];
    var percent = value / 256;
    var height = HEIGHT * percent;
    var offset = HEIGHT - height - 1;
    var barWidth = WIDTH/this.analyser.frequencyBinCount;
    var hue = i/this.analyser.frequencyBinCount * 360;
    drawContext.fillStyle = 'hsl(' + hue + ', 100%, 50%)';
    drawContext.fillRect(i * barWidth, offset, barWidth, height);
  }

  // Draw the time domain chart.
  for (var i = 0; i < this.analyser.frequencyBinCount; i++) {
    var value = this.times[i];
    var percent = value / 256;
    var height = HEIGHT * percent;
    var offset = HEIGHT - height - 1;
    var barWidth = WIDTH/this.analyser.frequencyBinCount;
    drawContext.fillStyle = 'white';
    drawContext.fillRect(i * barWidth, offset, 1, 2);
  }

  if (this.isPlaying) {
    requestAnimFrame(this.draw.bind(this));
  }
}

VisualizerSample.prototype.getFrequencyValue = function(freq) {
  var nyquist = context.sampleRate/2;
  var index = Math.round(freq/nyquist * this.freqs.length);
  return this.freqs[index];
}
</script>



               