<div class="container">

<div class ="centered">

<br />     
<!--POST BODY-->
<div class="col-md-5">
<div class="paneloveride" style="height:100%;" >
      
      <!-- illustration of product img -->
      <div class="text-center" style="padding:0px;line-height:20px;font-size:14px;">

        <div class="preach-img pushnav2 zindez222">
        <% if @post.postcover? %>
        <%= image_tag(@post.postcover.url(:large), :class => "img-responsive centered box-hover preachedge-img") %>
          <% end %> 
        </div>


        <div class="lead preach-content box-hover" style="color:#000000;">
             <%= @post.content %>
         </div>


  <div class="embed-extend-item">


         <% if @post.user.userphoto? %>

          <%#link_to (image_tag @post.user.profilephoto.url(:large), :class => "kit-avatar kit-avatar-96 border-white pull-left"), users_path(@user) %>
        <%= link_to (image_tag(@post.user.userphoto.url(:small), :class => "kit-avatar kit-avatar-96 border-white pull-left pullup-30 padding10")), user_path(@post.user_id) %>
        <% else %> 
        <%= link_to (image_tag("noimage-small.jpg", :class => "kit-avatar kit-avatar-96 border-white pull-left pullup-30 padding10")), user_path(@post.user_id) %>


  <% end %> 


    
<div class="pull-left">

    <small>

       <strong class="media-heading"><i class="fa fa-upload "></i> 
       <%= " " %><%= link_to (@post.user.firstname.split(" ").map(&:capitalize).join(" ")), user_path(@post.user_id) if @post.user.firstname %>

         <%= " " %><%= link_to (@post.user.lastname.split(" ").map(&:capitalize).join(" ")), user_path(@post.user_id) if @post.user.lastname %>
        </strong>

       </small>


<br>


<strong class="text-muted pull-left closebtn-categories" style="color: #000000;"> <%= link_to @post.postcategory.name, posts_path(postcategory: @post.postcategory.name) if @post.postcategory_id %> </strong>



</div>


<span class="pull-right"><div id="post_<%= @post.id %>_likes" style="font-size:24px; color: #ff0000; margin-top: -25px;">
       <%= render partial: "likes", locals: {post: @post} %>
</div>
</span>


</div>


       <!--end-->
</div>
</div>

<div class="panel" style="z-index: 999 important!">
    
    <!--small>

       <strong class="closeleft"><i class="fa fa-upload "></i> 
       <%# " " %><%# link_to (@post.user.firstname.split(" ").map(&:capitalize).join(" ")), user_path(@post.user_id) if @post.user.firstname %>

         <%# " " %><%# link_to (@post.user.lastname.split(" ").map(&:capitalize).join(" ")), user_path(@post.user_id) if @post.user.lastname %>
        </strong>

       </small-->


<!--NAME ENDS-->

   <div class="dropdown">
   <% if @post.user == current_user -%> 
    <button class="btn btn-xs btn-default btn-icon dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-ellipsis-v rediconcolor"></i></button>
          <ul class="dropdown-menu dropdown-menu-right pullup-small">
            <li>                            
               
                <%= link_to 'Edit this post', edit_post_path(@post), class: "btn btn-clean padding10" %>
                <% end %> 
            </li>
            <li>
                  <% if @post.user == current_user -%>
                      <%= link_to 'Delete this post', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "label-danger padding10" %>
                  <% end %> 
            </li>
            <!--li><a href="#">report copyright infringement</a></li>
            <li><a href="#">Report spam or abuse</a></li-->
          </ul>
  </div>
        &nbsp; &nbsp; 

        <small>

       <strong><i class="fa fa-eye fa-2x ">&nbsp </i><%= @post.impressionist_count(:filter=>:session_hash) %></strong>
       </small>   
  
</div>

<!--Colapsible starts-->

  <div class="panel-group pullupleft" id="accordion1">
                <div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">

                      <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                        <i class="fa fa-share-alt "></i> PreachOut </a>

                    </h3><!-- /panel-title -->
                  </div><!-- /panel-heading -->
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
    
                      <!-- Go to www.addthis.com/dashboard to customize your tools -->
                      <div class="addthis_sharing_toolbox"></div>
              
                    </div><!-- /panel-body -->
                  </div><!-- /panel-collapse -->
                </div><!-- /panel -->

                <!--div class="panel">
                  <div class="panel-heading">
                    <h3 class="panel-title">

<a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo">
                        More
                      </a>
               
                    </h3>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <div>Something</div>
                    </div>
                  </div>
                </div-->
              
              </div><!-- /panel-group -->
<!-- End of collapse-->
                    </div>
                    </div>

<!--COMMETS STARTS-->
                    <div class="col-md-7 innerscroll">
                    <div data-toggle="slimScroll" style="height:450px;" data-color="#48CFAD" data-rail-color="#48CFAD" data-allow-page-scroll="false" data-rail-visible="true">
                      <div class="clearfix">

                       <div class="paneloveride" data-fill-color="true">

                 
                      
                        <div class="pullup-small" data-fill-color="true">

                       <div><%= render 'postingcomments' %></div>
   
                      </div>
                    </div>

                    </div>
                    </div>
                 
</div>
</div> 

               