<!DOCTYPE html>
<html>
<head>
  <title>PreachOut</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<%= render '/layouts/nav' %>

<br />


<% if notice.present? %>

 <span class="alert alert-success fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= notice %>.
  </span>

  <% end %> 
<span class="alert"><%= alert %></span>


<section class="services" id="section1">
 




<%= yield %>



	</section>
</div>

</body>
</html>
