<!DOCTYPE html>
<html>
<head>
  <title>PreachOut- Connecting With The Word</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>

<body>


<%= render '/layouts/nav' %>

<br>
<br>


<% if notice.present? %>

 <span class="alert alert-success fade in">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <%= notice %>.
  </span>

  <% end %> 
<span class="alert"><%= alert %></span>


<section class="services" id="section1">
 




<%= yield %>

<br>
<br>

<!-- SCROLL TO TOP -->
        <a href="#" class="toTop"></a>

	</section>
</div>
<!--=============================================== -->
    <footer class="footer-wrapper" role="contentinfo">
      <div class="footer">


      <!-- Google Analytics -->
        <%= render 'layouts/footer' %>


        <div class="pull-right text-muted" style="margin-right: 80px;"><small>Contact us</small></div>
        <div>PreachOut  &copy; 2016</div>
      </div>
    </footer><!-- /.FOOTER -->
</body>
</html>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-568810505c304f97"></script>

<script>
    
$(document).ready(function () {

    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.toTop').fadeIn();
        } else {
            $('.toTop').fadeOut();
        }
    });

    $('.toTop').click(function () {
        $("html, body").animate({
            scrollTop: 0
        }, 600);
        return false;
    });

});

</script>
